apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: influx-spring
  name: influx-spring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: influx-spring
  template:
    metadata:
      labels:
        app: influx-spring
    spec:
      containers:
      - image: <registry>/spring-influx
        name: spring-influx
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: cloud    
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: influx-spring
  name: influx-spring
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: influx-spring
  type: LoadBalancer